*{
	box-sizing: border-box;
}


body{
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Lora',sans-serif;
}


header{
	background: #222;
	height: 66px;
}


.logo .logo-text{
	 color: #fff;
	 font-family: 'Candal', sans-serif;
	font-family: 'Lora', serif;
}



header .logo{
	float: left;
	display: inherit;
	position: relative;
	
	margin-left: 2em;
	margin-top: 7px;

}

header .logo .logo-text{
	margin: 4px;
	padding: 4px;
	display: inherit;
}



header .logo span{
	color: #006699;
}

header ul{
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header ul li{
	float: left;
	position: relative;
}

header ul li a{
	display: block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
	color: #fff;

}

header ul li:hover{
	background: #006669;
	transition: .4s;
}

header .menu-toggle{
	display: none;

}



/*media queries*/
@media only screen and (max-width: 750px){
	header{
		position: relative;
	}
	header ul{
		width: 100%;
		background: #333;
		max-height: 0px;
		overflow: hidden;;
	}

	header ul li{
		width: 100%;
		display: block;
	}

	header .menu-toggle{
		display: block;
		position: absolute;
		color: #fff;
		right: 20px;
		top: 15px;
		font-size: 1.9em;
	}


	header .logo{
		margin-left: .8em;

	}


	header .logo span{
		color: #006699;
	}
}