
*{
	box-sizing: border-box;
}

body{
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	
	width: 100%;
}


header{
	background: #222;
	height: 66px;
	width: 100%;
	margin: 0;
}



.logo .logo-text{
	 color: #fff;
	 font-family: sans-serif;
	

}



header .logo{
	float: left;
	display: inherit;
	position: relative;
	margin-left: 2em;
	margin-top: 7px;

}

header .logo .logo-text{
	margin: 4px;
	padding: 4px;
	display: inherit;
	font-family: sans-serif;
}



header .logo span{
	color: #006699;
	font-family: sans-serif;

}

header ul{
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header ul li{
	float: left;
	position: relative;
}

header ul li a{
	margin-top: 7px;
	display: block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;

}

header ul li:hover{
	background: #006669;
	transition: .4s;

}

header .menu-toggle{
	display: none;

}

/*media queries*/
@media only screen and (max-width: 750px){



	header{
		position: relative;
	}
	header ul{
		width: 100%;
		background: #333;
		max-height: 0px;
		overflow: hidden;;
	}

	.showing{
		max-height: 100em;
	}

	header ul li{
		border-top: 2px solid black;
		width: 100%;
		display: block;
	}

	header .menu-toggle{
		display: block;
		position: absolute;
		color: #fff;
		right: 20px;
		top: 15px;
		font-size: 1.9em;
	}


	header .logo{
		margin-left: .5em;

	}


	header .logo span{
		color: #006699;
	}

}

@media only screen and (max-width: 300px){
	.text{
		font-size: 11px;
	}
}


/*img*/
img{
	width: 100%;
	vertical-align: center;
	height: 380px;
	
	object-fit: cover;
 	
 	
}

.container{
	text-align: center;
	width: 100%;
	
	position: relative;

}

.container .slideshow-container{
	width: 100%;
	height: 380px;

}

.slideshow-container .numbertext{
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 12px;
	color: #f2f2f2;
	font-size: 14px;
}

.container .text{
	color: #f2f2f2;
	font-size: 16px;
	font-style: italic;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	margin-right: 100px;
	font-family: sans-serif;
}

.slideshow-container .dots-container{
	text-align: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 10px;
	 
}

.container .slideshow-container  .dot{
	height: 15px;
	width: 15px;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
}



@-webkit-keyframes fade{
	from { opacity: .4 }
	to {opacity: 1}
}

@keyframes fade{
	from { opacity: .4 }
	to {opacity: 1}
}
@-moz-keyframes fade{
	from { opacity: .4 }
	to {opacity: 1}
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	-moz-animation-name: fade;
	-moz-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
